* {
    font-family: "Noto Sans JP", sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
body {
    background: #fff;
    color: var(--text-main);
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.8;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
a, a:hover {
    transition: all .3s ease;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.grecaptcha-badge { visibility: hidden; }

// スクロールバー ///////////////////////////////////////////////////////////////
html {
	scrollbar-color: #c0cde1 var(--light-blue);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: var(--light-blue);
}
::-webkit-scrollbar-thumb {
	background-color: #c0cde1;
	border-radius: 10px;
}

// メディアクエリ ///////////////////////////////////////////////////////////////
$breakpoints: (
    'xl': 'screen and (max-width: 1200px)',
    'l': 'screen and (max-width: 1024px)',
    'm': 'screen and (max-width: 768px)',
    's': 'screen and (max-width: 640px)',
) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// font size ///////////////////////////////////////////////////////////////
@function fz($font-size) {
	@return calc($font-size / 16) * 1rem;
}

// wrapper ///////////////////////////////////////////////////////////////
@mixin wrapper($width: 90%, $max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    width: $width;
    max-width: $max-width;
}

// flex ///////////////////////////////////////////////////////////////
@mixin flex() {
    display: flex;
    flex-wrap: wrap;
}

// カラム分け ///////////////////////////////////////////////////////////////
@mixin col-2() {
    margin-right: 4%;
    width: 48%;

    &:nth-child(2n) {
        margin-right: 0;
    }
}
@mixin col-3() {
    margin-right: 3%;
    width: 31.3333333333%;

    &:nth-child(3n) {
        margin-right: 0;
    }
	
	@include mq(s) {
		margin-right: 0;
		width: 100%;
	}
}

// ページヘッダー ///////////////////////////////////////////////////////////////
@mixin header-background($img, $pos1, $pos2, $height) {
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $pos1 $pos2;
    width: 100%;
    height: $height;
}

// インデックスページ ///////////////////////////////////////////////////////////////
@mixin index-title() {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
@mixin index-card() {
	background-color: #fff;
	background-repeat: no-repeat;
	border: 2px solid var(--text-main);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding: 15px 20px;
	z-index: 1;

	&:hover {
		box-shadow: 0 6px 8px rgb(0 0 0 / 22%), 0 12px 28px -12px rgb(0 0 0 / 8%);
	}

	@include mq(s) {
		margin-bottom: 20px;
		padding: 10px 15px;
	}
}
@mixin index-card-title() {
	border-bottom: 1px solid var(--text-main);
	flex: 1;
	font-size: fz(16);
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 10px;
	padding-bottom: 10px;
	
	@include mq(s) {
		font-size: fz(15);
		margin-bottom: 7px;
		padding-bottom: 7px;
	}
}
@mixin index-card-excerpt() {
	font-size: 0.8rem;
}

// 装飾 ///////////////////////////////////////////////////////////////
@mixin list-none() {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin marker() {
    background: linear-gradient(transparent 60%,#ff6 60%);
}
.marker {
	@include marker();
}
@mixin badge($c: #fff) {
	border-radius: 2px;
	color: $c;
	display: inline-block;
	font-size: fz(12);
	font-weight: 500;
	line-height: 1;
	margin-right: 5px;
	padding: 3px 5px;
}
.badge--gray {
	@include badge(var(--text-main));
	background: #ddd;
}
@mixin dot-text($c) {
	text-emphasis: '\2B22' $c;
}

// button ///////////////////////////////////////////////////////////////
@mixin btn() {
    border-radius: 50px;
	display: block;
    font-weight: 500;
    letter-spacing: 0.04em;
	line-height: 1.5;
	padding: 8px 0;
    text-align: center;
    text-decoration: none;
}
@mixin btn-bg(
		$bg1: #0093E9,
		$bg2: linear-gradient(301deg, #0093E9 0%, #80D0C7 100%),
		$fz: 18,
		$w: 280px,
	) {
	@include btn();
	background-color: $bg1;
	background-image: $bg2;
	color: #fff;
    font-size: fz($fz);
	width: $w;
}
@mixin btn-bd(
		$bdc: var(--link),
		$color: var(--link),
		$fz: 18,
		$w: 280px,
	) {
	@include btn();
	background: #fff;
	border-color: $bdc;
	border-style: solid;
	border-width: 3px;
	color: $color;
    font-size: fz($fz);
	width: $w;
}

// frontpage ///////////////////////////////////////////////////////////////
@mixin frontpage-heading() {
	font-size: fz(32);
	font-weight: bold;
	margin: 10px 0 60px;
	text-align: center;
	
	@include mq(s) {
		font-size: fz(24);
		margin: 10px 0 30px;
	}
}
@mixin frontpage-heading-en($c) {
	color: $c;
	font-family: 'Oswald', sans-serif;
	font-size: fz(24);
	font-weight: bold;
	text-align: center;
	position: relative;

	@include mq(s) {
		font-size: fz(20);
	}

	&::after {
		content: '';
		background: $c;
		display: block;
		width: 50px;
		height: 2px;
		position: absolute;
		margin: 5px auto 0;
		left: 0;
		right: 0;
	}
}
@mixin frontpage-services-section() {
	max-width: 1600px;
	position: relative;
	
	@include mq(s) {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}
}
@mixin frontpage-services-section-arrow($c) {
	content: '';
	display: block;
	border-top: 50px solid $c;
	border-left: 50px solid $c;
	border-right: 50px solid transparent;
	border-bottom: 50px solid transparent;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	
	@include mq(m) {
		border-top: 30px solid $c;
		border-left: 30px solid $c;
		border-right: 30px solid transparent;
		border-bottom: 30px solid transparent;
		width: 30px;
		height: 30px;
	}
}
@mixin frontpage-services-aside($bg) {
	background: $bg;
	border-radius: 8px;
	padding: 20px;
	width: 300px;
	position: absolute;
	top: 60px;
	right: 60px;
	
	@include mq(m) {
		padding: 12px;
		width: 230px;
		top: 50px;
		right: 40px;
	}
	@include mq(s) {
		position: inherit;
		top: inherit;
		right: inherit;
		width: 80%;
		align-self: center;
	}
}
@mixin frontpage-services-aside-text($color) {
	color: $color;
	font-size: fz(15);
	font-weight: 500;
	line-height: 1.6;
	text-align: justify;
	
	@include mq(m) {
		font-size: fz(14);
	}
}

@mixin frontpage-calc-date-title() {
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: 20px;
	font-weight: 500;
	line-height: 20px;
	margin: 10px 30px 10px 0;
	padding-left: 25px;
}
@mixin frontpage-calc-date-elm() {
	line-height: 20px;
	text-align: center;
}
