@mixin about-radius-section() {
	border-radius: 70px 70px 0 0;
	margin-top: -70px;
	padding: 50px 0 110px;
}
@mixin about-headline($color: #fff) {
    color: $color;
    font-family: 'Oswald', sans-serif;
    font-size: fz(28);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
}
@mixin neumorphism() {
    background: #f5f7ff;
    border-radius: 10px;
    box-shadow:  7px 7px 6px #d5d7de, -7px -7px 6px #ffffff;
}
@mixin about-layer() {
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
}


.about {
    width: 100%;

    &-introduce {
        @include wrapper($width: 80%, $max-width: 1100px);
        @include flex();
        justify-content: space-between;
        padding: 60px 0 130px;

        &__text {
            font-size: fz(16);
			text-align: justify;
            width: calc(100% - 230px);
        }
        &__img {
			height: 180px;
            width: 180px;
			position: relative;

            img {
                border-radius: 15px;
				margin-top: 6px;
            }
			&::after {
				content: '';
				background: #ffdf81;
				border-radius: 15px;
				display: block;
				height: 180px;
				width: 180px;
				position: absolute;
				top: 5px;
				left: 12px;
				transform: rotate(10deg);
				z-index: -1;
			}
        }
    }

    &-skills {
		@include about-radius-section();
        background: #f5f7ff;
        
        &__headline {
            @include about-headline(#88c0e6)
        }
        &__elements {
            @include wrapper($max-width: 1200px);
            @include flex();
        }
        &__element {
            @include col-3();
            @include neumorphism();
            margin-bottom: 30px;
            padding: 20px;
        }
        &__title {
            color: #c6c8d2;
            font-family: 'Oswald', sans-serif;
            font-size: fz(20);
            font-weight: bold;
            margin-bottom: 7px;
            text-align: center;
        }
        &__items {
            @include flex();
            font-weight: 500;

            dt, dd {
                border-top: 1px solid #ddd;
                padding: 5px 10px;
                width: 50%;
            }
        }
        &__note {
            @include neumorphism();
            margin-bottom: 30px;
            padding: 20px;
            width: calc(100% - 34.33333333%);

            &-list {
                @include flex();
                border-top: 1px solid #ddd;
                padding: 10px 0 0 25px;

                li {
                    list-style: disc;
                    width: 25%;
                }
            }
        }
    }

    &-timeline {
		@include about-radius-section();
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
        &__headline {
            @include about-headline()
        }
        &__layer {
            @include wrapper();
            @include about-layer();
			margin-bottom: 30px;
            padding: 60px 50px 60px 40px;
        }
        &__element {
            @include flex();
            justify-content: space-between;
        }
        &__date {
            color: #83a4b5;
            font-family: 'Oswald', sans-serif;
            font-size: fz(18);
            font-weight: bold;
            line-height: 1;
            margin-top: -3px;
            width: 100px;
        }
        &__content {
            border-left: 3px solid #dff4f7;
			padding: 0 0 30px 30px;
            position: relative;
            width: calc(100% - 100px);

            &::before {
                content: '';
                background: #62bdce;
                border-radius: 11px;
                width: 11px;
                height: 11px;
                position: absolute;
                top: 0;
                left: -7px;
            }
        }
        &__title {
			color: #0c4a6a;
            font-size: fz(18);
            font-weight: bold;
            margin-top: -12px;
        }
    }

    &-information {
		@include about-radius-section();
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

        &__headline {
            @include about-headline()
        }
        &__layer {
            @include wrapper($max-width: 700px);
            @include about-layer();
            padding: 30px 40px;
        }
        &__table {
            th, td {
                border-bottom: 1px solid #abcad8;
                font-size: fz(16);
                padding: .7em 1em;
                vertical-align: middle;
            }
            tr:last-child th, tr:last-child td {
                border: none;
            }
            th {
                width: 10em;
            }
            td {
                padding-left: 2em;
                width: calc(100% - 10em);
            }
            a {
                color: var(--link);
				font-weight: 500;
            }
            &-list {
                padding-left: 1.2em;
                
                li {
                    list-style: disc;
                }
            }
            &-name::after {
                content: '辻本 剛';
            }
        }
    }
}
