.content-article {
    h2 {
        border-bottom: 2px solid var(--text-main);
        font-size: fz(22);
        font-weight: bold;
        line-height: 1.4;
        margin: 2em 0 1em;
        padding: 5px 10px;
		
		@include mq(s) {
			font-size: fz(19);
			margin: 1.5em 0 1em;
			padding: 5px;
		}
    }
    h3 {
        border-left: 2px solid var(--text-main);
        font-size: fz(20);
        font-weight: bold;
        line-height: 1.4;
        margin: 2em 0 1em;
        padding: 5px 10px;
		
		@include mq(s) {
			font-size: fz(17);
			margin: 1.5em 0 1em;
		}
    }
    h4 {
        font-size: fz(19);
        font-weight: bold;
        line-height: 1.4;
        margin: 2em 0 1em;
		
		@include mq(s) {
			font-size: fz(17);
			margin: 1.5em 0 1em;
		}
    }
    p {
        margin-bottom: 1em;
    }
    a {
        color: var(--link);
    }
	strong {
		font-weight: bold;
	}
    ul, ol {
        margin: 1rem 0;
        padding-left: 40px;

		@include mq(s) {
			padding-left: 30px;
		}
    }
    ul {
        
        li {
            list-style: disc;
        }
        ul, ol {
            margin: 0;
            padding-left: 40px;
        }
    }
    ol {
        
        li {
            list-style: decimal;
        }
        ul, ol {
            margin: 0;
            padding-left: 40px;
        }
    }
    li {
        margin: 0.2em 0;
		
		* {
			margin: 0.2em 0;
		}
    }
	table {
		margin: 1.5rem 0;
	}
	th, td {
		border: 1px solid #ddd;
		font-size: 0.9rem;
		padding: 0.4em 0.6em;
	}
	th {
		background: var(--light-blue);
		font-weight: 500;
	}
    blockquote {
        background: #f5f5f5;
        margin: 1.5rem 0;
        padding: 1.1em 1.2em .1em 1.2em;
    }

    // ワードプレス タグ
    .wp-block-separator { // hrタグ
        border: none;
        background: var(--text-main);
        display: block;
        height: 1px;
        margin: 1.5rem 0;
        opacity: 0.4;
    }
}
