.breadcrumb {
    background-color: rgba(0, 0, 0, 0.4);
    height: 30px;
    line-height: 30px;

    * {
        color: #fff;
        font-size: 13px;
    }
    &__ol {
        @include flex();
        @include wrapper();
        list-style: none;
    }
    li:not(li:first-child) {
        
        &::before {
            content: '>';
            color: #ccc;
            margin: 0 .3em 0 .5em;
        }
    }
}
