.header {

	&__wrap {
        @include flex();
        align-items: center;
        justify-content: space-between;
		height: 65px;
        margin: auto;
        width: calc(100% - 60px);
		
		@include mq(s) {
			height: 50px;
			width: calc(100% - 30px);
		}
	}
    &__logo {
		@include mq(s) {
			height: 25px;
		}

		&-href {
            display: block;
			line-height: 1;
			margin-top: -5px;
            width: 180px;
			
			@include mq(s) {
				margin-top: -3px;
				width: auto;
			}
        }
    }
    &__ul {
        @include flex();

		@include mq(s) {
			display: none;
		}

        li {
            font-weight: 500;
            font-size: 14px;
        }
        a {
            display: block;
			height: 65px;
			line-height: 65px;
            padding: 0 15px;

            &:hover {
                background: var(--text-main);
                color: #fff;
            }
        }
    }
}
