.index {
    background: var(--light-beige);
    padding: 40px 0;
    
    &-header {
        @include wrapper();
		margin-bottom: 40px;
		
		@include mq(s) {
			margin-bottom: 20px;
		}

        &__title {
			@include index-title();
			margin-bottom: 30px;
        }
    }
}
