.index {
    background: #f5f4f3;
    padding: 40px 0;
    
    &-header {
        @include wrapper();
		margin-bottom: 40px;

        &__title {
			@include index-title();
			margin-bottom: 30px;
        }
    }
}
.index-card {
	&__wrap {
		@include flex();
		@include wrapper();
	}
	&__href {
		@include col-3();
		@include index-card();
		background-size: 40px;
		background-position: right 5px bottom 5px;
	}
	&__title {
		@include index-card-title();
	}
	&__excerpt {
		@include index-card-excerpt();
	}
	.post-meta {
		color: #999;
	}
}
