.pager {
	@include flex();
	justify-content: center;
	margin: 30px 0 10px;
	
	.page-numbers {
		@include flex();
		align-items: center;
		justify-content: center;
		border: 2px solid var(--text-main);
		border-radius: 4px;
		font-size: fz(17);
		font-weight: 500;
		margin: 0 5px;
		height: 40px;
		width: 40px;

		&.current {
			background: var(--text-main);
			color: #fff;
		}
	}
}
