.post-meta {
    @include flex();
	align-items: end;
	
    * {
		line-height: 1.5;
		font-size: 0.7rem;
		font-family: monospace;
    }
    dt, dd {
		color: #999;
        margin: 2px 0;
    }
    dt {
        width: 80px;
    }
    dd {
        width: calc(100% - 80px);
    }
    a {
        color: var(--link);
    }
    &__tags {
        @include flex();

        li {
            &::after {
                content: '/';
                color: #aaa;
                margin: 0 .5em;
            }
            &:last-child::after {
                content: none;
            }
        }
    }
}
