@mixin prev-next-link-list() {
	align-self: stretch;
	width: 50%;
}
@mixin prev-next-link-href() {
	background: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 1px #eee;
	color: var(--link);
	display: flex;
	align-items: center;
	font-size: 15px;
	height: 100%;
	line-height: 1.6;
	padding: 1em 2em;
}

.prev-next-link {
	background: #f7f7f7;
	margin-bottom: 50px;
	padding: 20px 0;

	&__ul {
		@include flex();
		@include wrapper();
		align-items: center;
	}
	&__li {
		&--prev {
			@include prev-next-link-list();

			a {
				@include prev-next-link-href();
				margin-right: 5px;
			}
		}
		&--next {
			@include prev-next-link-list();
			
			a {
				@include prev-next-link-href();
				margin-left: 5px;
				justify-content: right;
			}
		}
	}
	li a {
	}
}
